* {
    box-sizing: border-box;
}

body {
    background: #F5F7FB;
    font-family: 'Karla', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./images/blob-top.png'), url('./images/blob-bottom.png');
    background-repeat: no-repeat, no-repeat;
    background-position: right top, left bottom
}

.start {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F5F7FB;
    height: 100vh;
}

.start-title {
    margin-top: 0;
}

.start-description {
    margin-top: 0;
    font-weight: 400;
}

.start-button {
    background-color: #4D5B9E;
    color: #F5F7FB;
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 15px
}

.trivia {
    background: none;
    margin: 20px;
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.question-all {
    margin-top: 10px;
}

.question {
    color: #293264;
}

.choices {
    border: 1px solid #4D5B9E;
    border-radius: 7px;
    background-color: #F5F7FB;
    margin-right: 10px;
    margin-bottom: 10px;
    font-family: Inter, sans-serif;
    min-width: 100px;
    color: #293264;
    cursor: pointer;
}
.choices:focus {
    outline:0;
}

.choices:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.submit {
    background-color: #4D5B9E;
    align-self: center;
    color: #F5F7FB;
    border: none;
    width: 150px;
    height: 50px;
    font-family: Inter, sans-serif;
    border-radius: 15px
}

.submit:focus {
    outline:0;
}

.submit:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}